/.idea
/.vscode
/AFS2.cpp
/bin
/CMakeLists.txt
/cmp_gen
/cmp_orig
/Compressors.cpp
/EXPA.cpp
/include
/LICENSE_old
/MDB1.cpp
/obj
/output.mvgl
/output_folder_test
/output_oop.mvgl
/protobuf
/README_old.md
/SaveFile.cpp